<!doctype html>
<html>
	<head>
		<title>Hello world</title>
		<link rel="stylesheet" href="style/main.css"/>
		<script type="text/javascript" src="vendor/jquery/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="scripts/main.js"></script>		
	</head>
	<body>
		<p>
			Hola mundo <b> En negritas</b>
		</p>
		<p>
			<b> Aqui terminan las negritas </b> Aqui no
		</p>
		<div/>
		<div>
			<div>
			<input type="text" value="search">
			</div>
			<div>
				<table id="users-table">
					<thead>
						<tr>
							<th> nombre </th>
							<th> Correo </th>
							<th > Acciones </th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="full-name-cell"> El ray</td>
							<td class="email-cell"> elray@algo2.com</td>
							<td>
								<a href="#" class="edit-user-anchor"> Editar </a>&nbsp;
								<a href="#"> Eliminar </a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div>
				<a href="#"><<</a>
				<a href="#">prev</a>
				<a href="#">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">next</a>
				<a href="#">>></a>
			</div>
		</div>
		<script id="user-row-template" type="text/html">
			<tr>
				<td class="full-name-cell"> {{fullName}}</td>
				<td class="email-cell"> {{email}}</td>
				<td>
					<a href="edit-person.html" class="edit-user-anchor"> Editar </a>&nbsp;
					<a href="#"> Eliminar </a>
				</td>
			</tr>
		</script>
		<form style="display: none;" id="editing-user-form">
			<div>
				<label for="Email">Correo:</label>
				<input type="text" id="email-input"><br><br>
				<label for="Name">Nombre:</label>
				<input type="text" id="full-name-input"><br><br>
				<label for="Date">Fecha de Nacimiento:</label>
				<input type="text" id="Date"><br><br>
				<label for="Cellphone">Celular:</label>
				<input type="text" id="Cellphone"><br><br>
			</div>
			<div>
				<input type="reset" value="Cancelar">
				<input type="submit" value="Enviar">
			</div>
		</form>
		
		<div>
			<h2>Sumar 2 n&uacute;meros</h2>
			<form>
				<input type="text" id="n1" value="0"/> 
				<span>+</span> 
				<input type="text" id="n2" value="0"/> 
				<span>=</span> 
				<input type="text" disabled="disabled" id="result" value="0"/>
			</form>
		</div>
	</body>
</html>